body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: rgb(0, 156, 109); /* зелёный фон на всю страницу */
}

.container {
    width: 100%;
    min-height: 100vh;                 /* растягиваем контейнер на весь экран */
    background: rgb(0, 156, 109);      /* тот же зелёный */
    padding: 30px;                     /* внутренние отступы */
    margin: 0;                         /* УБРАТЬ белые поля */
    border-radius: 0;  
}

h1, h2 {
  text-align: center;
}

input {
  width: 96%;
  padding: 8px;
  margin: 5px 0;
}

button {
  padding: 8px 12px;
  margin: 5px 5px 5px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 5px;
  border-radius: 4px;
}
